<%# Hero %>
<section class="hero is-dark is-large has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Big challenges. Beautiful solutions.
      </h1>
    </div>
  </div>
</section>

<div class="container">
  <div class="about-content-wrapper">
    <div class="section">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <h1 class="is-size-3 has-text-centered mb-24">How do we started Elore?</h1>
          <p class="has-text-justified">Airbnb is the world's largest marketplace for space, and we keep getting bigger every day. With 300M+ guest check-ins over the last ten years, we're constantly taking on challenges in search algorithms, payments, fraud prevention, and growth — all while maintaining a beautiful user experience. We want to build solutions to these problems that are scalable, performant, and elegant, and we're looking for talented people to help us do just that.</p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <h1 class="is-size-3 has-text-centered mb-24">Who are we?</h1>
          <p class="has-text-justified">Every engineer deploys on their first day — and every day after that too. We use Amazon Web Services and practice continuous deployment so we can quickly try out new ideas and iterate on existing product features, and we love experimenting with new technology if it's right for the job. Not only do we ride the cutting edge, we make it: we've open sourced Aerosolve a machine learning package built for humans, and Apache Airflow (incubating) to author workflows as directed acyclic graphs of tasks, amongst other projects. Our engineers regularly present at conferences around the country.</p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <h1 class="is-size-3 has-text-centered mb-24">Move Fast</h1>
          <p class="has-text-justified">Every engineer deploys on their first day — and every day after that too. We use Amazon Web Services and practice continuous deployment so we can quickly try out new ideas and iterate on existing product features, and we love experimenting with new technology if it's right for the job. Not only do we ride the cutting edge, we make it: we've open sourced Aerosolve a machine learning package built for humans, and Apache Airflow (incubating) to author workflows as directed acyclic graphs of tasks, amongst other projects. Our engineers regularly present at conferences around the country.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="hero is-medium is-info is-bold has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-4">
        Curate the best wedding services and
        help the community to prepare for their special day better
      </h1>
      <%# <h2 class="subtitle">
        Primary bold subtitle
      </h2> %>

      <%= link_to 'Get Started', root_path, class: 'button is-large custom-is-primary', 'data-turbolinks': false %>
    </div>
  </div>
</section>
