<div class="container">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="box box-transparent mt-24">
        <div class="empty-state-wrapper has-text-centered">
          <%= icon( 'fas', 'sad-tear', class: 'fa-4x has-text-grey-light mb-24' ) %>
          <p>Oops we can't find the vendors you are searching.</p>
        </div>
      </div>
    </div>
  </div>
</div>