<div class="tabs mt-24 mb-24" id="tab-header">
  <ul>
    <li>
      <%= link_to 'All', root_path, class:'tab-link', 'data-turbolinks': false %>
    </li>
    <% Category.all.each do |category| %>
      <li>
        <%= link_to category.name, vendors_path( category: category.name ), class: 'tab-link', 'data-turbolinks': false %>
      </li>
    <% end %>
  </ul>
</div>