/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "navbar.scss";
@import "footer.scss";
@import 'vendors.scss';
@import 'static_pages.scss';
@import 'users.scss';
@import 'empty.scss';

// body {
//   background-color: #fafafa;
// }

// Buttons

.is-fb-button {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: white;

  &:hover {
    background-color: #476bb8;
    border: 1px solid #476bb8;
    color: white;
  }
}

.custom-is-primary {
  background-color: #ffabab;
  border: #ffabab solid 1px;
  color: #fff;

  &:hover {
    background-color: #ff9999;
    border: 1px solid #ff9999;
    color: #fff;
  }
}


// Helpers

.has-border-bottom { border-bottom: 1px solid #f2f2f2; }

.border-1 { border: 1px solid #f2f2f2; }

.m-8 { margin: 8px; }

.m-16 { margin: 16px; }

.m-24 { margin: 24px; }

.mt-8 { margin-top: 8px; }

.mt-16 { margin-top: 16px; }

.mt-24 { margin-top: 24px; }

.mt-32 { margin-top: 32px; }

.mt-5rem { margin-top: 5rem; }

.mr-4 { margin-right: 4px; }

.mr-8 { margin-right: 8px; }

.mr-16 { margin-right: 8px; }

.mr-24 { margin-right: 8px; }

.mb-8 { margin-bottom: 8px; }

.mb-16 { margin-bottom: 16px; }

.mb-24 { margin-bottom: 24px; }

.mb-32 { margin-bottom: 32px; }

.ml-8 { margin-left: 8px; }

.ml-16 { margin-left: 16px; }

.ml-24 { margin-left: 24px; }


// Pagination

.digg_pagination {
  // background: white;
  cursor: default;
  /* self-clearing method: */
}

.digg_pagination a,
.digg_pagination span,
.digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

.digg_pagination a:hover,
.digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child+html .digg_pagination {
  overflow: hidden;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}

.apple_pagination a,
.apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover,
.apple_pagination a:focus {
  text-decoration: underline;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
  padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
  color: #aaaaaa;
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}

.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}

.flickr_pagination a:hover,
.flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}

.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
  border-width: 2px;
}

.flickr_pagination .previous_page {
  margin-right: 1em;
}

.flickr_pagination .next_page {
  margin-left: 1em;
}

// HR Text

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;

  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

