// .navbar.is-light .navbar-start > a.navbar-item:hover {
//   background-color: transparent;
//   color: #000;
// }

.navbar.is-dark .navbar-start>a.navbar-item:hover {
  background-color: transparent;
}

.navbar.is-dark .navbar-brand .navbar-link:hover, .navbar.is-dark .navbar-brand > a.navbar-item.is-active, .navbar.is-dark .navbar-brand > a.navbar-item:hover {
  background-color: transparent;
}

.navbar {
  -webkit-box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);

  .field:not( :last-child ) {
    margin-top: 0.75rem;
  }

  .navbar-end {
    .image {
      img {
        width: auto;
      }
    }
  }
}
